body {

    background-image: url('../mirror-back.jpeg');
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: 'Pirata One', cursive;
    font-weight: 400;
    font-style: normal;
}

#story-text {
    margin: 20px;
    font-size: 25px;
    text-align: center;
    color: #3e3e3e;
    
}

.pirata-one-regular {
    font-family: "Pirata One", system-ui;
    font-weight: 400;
    font-style: normal;
  }

#choices {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-family: 'Pirata One', cursive;
color: #D9C49F;
    font-size: 18px;
    background-color: #4A1919;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #b49f92;
}

button:focus {
    outline: none;
}

.game-container {
    max-width: 40%;
    margin: 50px auto;
    background-color: #9CAF88;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    position: relative; /* Stack relative to the body */
    z-index: 1; /* Higher z-index to ensure it appears above the GIF */
    height: 760px; /* Fixed height if you want it static */
    overflow-y: auto;  /* Adds scroll if content exceeds height */
}
    

#final-text-1,
#final-text-2 {
    visibility: hidden;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    font-size: 18px;
}

#story-image {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}
.crossed-out {
    text-decoration: line-through;
    color: red;
    pointer-events: none;
}
buttons {
   
    padding: 12px 24px; /* Padding for the button */
   
    color: #3e3e3e;
    border: dotted;
    border-radius: 8px; /* Rounded corners */
    cursor: pointer; /* Pointer on hover */
    font-size: 20px; /* Larger font size */
    
    transition: background-color 0.3s; /* Smooth transition */
}

buttons:hover {
    color: red;
    }
    .background-gif {
        position: fixed; /* Position it relative to the body */

        top: 0; /* Align to the top */
        left: 0; /* Align to the left */
        width: 100vw; /* Full width of the viewport */
        height: 100vh; /* Full height of the viewport */
        object-fit: cover; /* Cover the entire viewport */
        z-index: 0; /* Set a lower z-index to be behind other content */
        opacity: 0.3; /* Optional: Adjust opacity for a translucent effect */
    }

    